* {
  box-sizing: border-box;
  margin: 0;
}

main {
  min-height: 100vh;
  background-color: #f5f7fb;
  color: #293264;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: url("./images/top-blob.svg"), url("./images/bottom-blob.svg");
  background-repeat: no-repeat no-repeat;
  background-position: 100% 0%, 0% 100%;
}

h1 {
  font-family: "Karla";
}

p {
  font-family: "Inter";
}

.start {
  width: 200px;
  height: 50px;
}

/* Buttons */
.btn {
  background-color: #4d5b9e;
  border-radius: 1rem;
  border: none;
  color: #f5f7fb;
  font-family: "Inter";
  font-size: medium;
}

.btn:active {
  box-shadow: inset 5px 5px 10px -2px rgba(0, 0, 0, 0.7);
}
